<!-- Optionally, you can add icons to the links -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
	<li class="header">
		<a href="/home"><Center><%#= current_user.role.name %> DASHBOARD</Center></a>
	</li>
	<li><a href="/companies"><i class="fa fa-tags"></i> Company </a></li>
	<li><a href="/branches"><i class="fa fa-tags"></i> Branch </a></li>
	<li><a href="/employees"><i class="fa fa-tags"></i> Employees </a></li>
	<li><a href="/vehicle_types"><i class="fa fa-tags"></i> Vehicle Type </a></li>
	<li><a href="/document_masters"><i class="fa fa-tags"></i> Documents </a></li>
	<li><a href="/financer_masters"><i class="fa fa-tags"></i> Financer </a></li>
	<li><a href="/showroom_masters"><i class="fa fa-tags"></i> Showroom </a></li>
	<li><a href="/schemes"><i class="fa fa-tags"></i> New Schemes </a></li>
	<li><a href="/enquiries"><i class="fa fa-tags"></i> New Enquiry </a></li>
</ul>
