<!-- Optionally, you can add icons to the links -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">
    <a href="/home"> <Center>   <%#= current_user.role.name %> DASHBOARD</Center></a>
  </li>
      <li><a href="/branches"><i class="fa fa-tags"></i> Branch </a></li>
      <li><a href="/vehicle_types"><i class="fa fa-tags"></i> Vehicle Type </a></li>
      <li><a href="/enquiries"><i class="fa fa-tags"></i> New Enquiry </a></li>
      <li><a href="/schemes"><i class="fa fa-tags"></i> New Schemes </a></li>
      <li><a href="/employees"><i class="fa fa-tags"></i> Create Employee </a></li>
    
</ul>
