<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Inword</h3>
     <div class="pull-right">
    </div>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form_inword">
			<%= render 'form_inword' %>	
		</div>
		
		<div id="inword_list">
			<%= render 'inword_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->
