<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Agent</h3>
     <div class="pull-right">
    
    </div>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="agent_list">
			<%= render 'agent_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->
