<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Outword</h3>
     <div class="pull-right">
    </div>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="outword_list">
			<%= render 'outword_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->
