
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Period & Rating Wise Employee</h3>
  </div><!-- /.box-header -->

  <div class="box-body">
    <%= bootstrap_form_for(:enquiry, url: { action: 'display_scheme'},html: {id: "enquiry"},remote: true) do |f| %>

    <div class="row">   
      <div class="col-sm-4">
      <label>Vehicle</label>
        <div class="field">
          <%= select :enquiry, :vehicle_type_id, all_vehicle_type,{include_blank: 'Select Type'},class: 'form-control' %>
        </div>
      </div>

      <div class="col-sm-3" style="padding-top: 20px;">
        <div class="form-group required">
          <%= f.submit "Create Enquiry", class: 'btn btn-success btn-sm' %>
        </div>
      </div>

    </div>
    <br>
  <% end %>
  
   <div class="ajax-progress"></div>
    <div class="row">
      <div class="col-sm-12">
        <div id="scheme_list"></div>    
      </div>
    </div>

  </div>
  </div>
